In [1]:
for i in range(0,20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [5]:
for i in range(10,20):
    print(i, end=" ")

10 11 12 13 14 15 16 17 18 19

In [7]:
mylist=[10, 20, 14, 55, 43, 87, 76]
print(mylist)
print("Number of items in the List2: ", len(mylist))

[10, 20, 14, 55, 43, 87, 76]
Number of items in the List2:  7

In [11]:
mylist="Artificial Intelligence"
print(mylist)
for i in mylist:
    print(i)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [12]:
print("-Your Name-")
print("-Your Age-")
print("-Your Profession-")

-Your Name-
-Your Age-
-Your Profession-

In [13]:
tup=(1, 'Welcome', 2, 'Hope') 
print(tup)

(1, 'Welcome', 2, 'Hope')

In [14]:
tup1 = (0, 1, 2, 3)
tup2 = ('python', 'HOPE')
tup3 = (tup1,tup2)
print(tup3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [26]:
tup=(10, 20, 14, 55, 43, 87, 76)
print(tup)
for i in tup:
    if(i%2==0):
        print(i ,"is Even Number ")

(10, 20, 14, 55, 43, 87, 76)
10 is Even Number
20 is Even Number
14 is Even Number
76 is Even Number

In [27]:
  tup=(10, 20, 14, 55, 43, 87, 76)
print(tup)
for i in tup:
    if(i%2==1):
        print(i ,"is Odd Number ")

(10, 20, 14, 55, 43, 87, 76)
55 is Odd Number
43 is Odd Number
87 is Odd Number